# Hypothesis testing

Objective:
To investigate the restaurant owners' claim about the increase in weekly operating costs using hypothesis testing.

#Null hypothesis : THE weekly operating costs is  m = W
#alternative hypotheses : weekly operating cost is hight m> w
#level of signeficance is 0.5

•	ˉxˉ = sample mean weekly cost (Rs. 3,050)
•	μ = theoretical mean weekly cost according to the cost model (W = $1,000 + $5X for X = 600 units)
•	σ = 5*25 units
•	n = sample size (25 restaurants)

In [1]:
x = 3050
X = 600
mu =1000+5*X
mu

4000

Calculate the Test Statistic:

In [2]:
import numpy as np
# the t test test value

(3050-mu)/5*25/np.sqrt(5)   #WE acct H0       # IT IS TCAL VALUE IS -2124.2645

-2124.2645786248

In [3]:
import scipy
from scipy import stats

In [4]:
stats.norm.ppf(0.975)     #0.975 = (c.f + 0.05)  0.0is level of sigenifecance

1.959963984540054

In [5]:
-2124.2645786248 > 1.959963984540054           # frome this tcal is lessthen z table value then

False

In [6]:
#Make a Decision: we accpet h0  and the weekly operation cost are equal   at 5% los

In [7]:
#Conclusion:  the weekly oparation cost is equal to  mean of oparation cost

_____________________________________________________________________________________________________________________________-

# Chi-square

Objective:
To use the Chi-Square test for independence to determine if there's a significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.

In [29]:
#State the Hypotheses:
#null hypotheses : there is no   significant association between the type of device purchased 
#all hypotheses :   there is   significant association between the type of device purchased

In [30]:
import pandas as pn 
import numpy as np

In [31]:
import pandas as pd

# Create a dictionary with the data
data = {
    'Satisfaction': ['Very Satisfied', 'Satisfied', 'Neutral', 'Unsatisfied', 'Very Unsatisfied'],
    'Smart Thermostat': [50, 80, 60, 30, 20],
    'Smart Light': [70, 100, 90, 50, 50],
    'Total': [120, 180, 150, 80, 70]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Set the 'Satisfaction' column as the index
df.set_index('Satisfaction', inplace=True)

print(df)

                  Smart Thermostat  Smart Light  Total
Satisfaction
Very Satisfied                  50           70    120
Satisfied                       80          100    180
Neutral                         60           90    150
Unsatisfied                     30           50     80
Very Unsatisfied                20           50     70

In [32]:
df2 = pd.crosstab(df['Smart Thermostat'],df['Smart Light'])

In [33]:
df2

Smart Light       50   70   90   100
Smart Thermostat
20                  1    0    0    0
30                  1    0    0    0
50                  0    1    0    0
60                  0    0    1    0
80                  0    0    0    1

# Compute the Chi-Square Statistic:

In [34]:
from scipy import stats
stats.chi2_contingency(df2)

Chi2ContingencyResult(statistic=15.000000000000002, pvalue=0.24143645097027544, dof=12, expected_freq=array([[0.4, 0.2, 0.2, 0.2],
       [0.4, 0.2, 0.2, 0.2],
       [0.4, 0.2, 0.2, 0.2],
       [0.4, 0.2, 0.2, 0.2],
       [0.4, 0.2, 0.2, 0.2]]))

In [35]:
#Determine the Critical Value:
stats.chi2.ppf(0.95,20)             # significance level (alpha) of 0.05  #c cal value is 15 < c table value thene we accpet h1
                                    # p value is 0.2414 is less then alpha then we we accpet h1

31.410432844230918

# Make a Decision:

our descision is there is  significant association between the type of device purchased